matplotlib==3.10
numpy<2.0.0
pandas
#markdown
pip
shap==0.43.0
importlib-metadata
importlib_resources
pickleshare
#scikit-learn
xgboost==2.0.2
scipy
plotly
# streamlit-plotly-events
# numba>=0.57
# Don't give a version for streamlit 
# to ensure the app has the latest security updates. 
streamlit
